body {
    font-family: Georgia, 'LG Smart UI', 'Times New Roman', Times, serif;
    overflow-x: hidden;
    background-color: #fafaff;
}

div {
    margin: 2.5%;
    border-radius: 1.2%;
}

a {
    text-decoration: none;
}

.theworld {
    margin: 0%;
    position: relative;
}

iframe {
    border: 4px solid black;
    border-radius: 0;
}

.body {
    margin: 0.5% 0%;
    width: 56%;
    height: 720%;
    border: 5px solid aliceblue;
    border-radius: 30px 5px 30px 5px;
    overflow: hidden;
    float: left;
    position: relative;
}

.linear {
    margin: 0px;
    border-radius: 0 0 0 10%;
    display: block;
    height: 0.4%;
    width: 108%;
    left: 0px;
    border: 4px solid #dfdfff;
    background-color: #ddeeff;
    top: -0.2%;
}

.linear>img {
    margin: 2.5px;
}

.navigator {
    z-index: 4;
    border: 3px solid rgba(170, 170, 255, 0.25);
    background-color: rgba(240, 248, 255, 0.25);
    display: inline-block;
    border-radius: 0px 15px 5px 0px;
    width: 72%;
    height: 4.5%;
    position: fixed;
    right: 0.01%;
    bottom: 0.02%;
    overflow: hidden;
}

.navigator:hover {
    border: 3px solid rgba(170, 170, 255, 1);
    background-color: rgba(240, 248, 255, 1);
}

.navigator>a {
    margin: 6px 12px;
    display: inline-block;
    border-bottom: 0.25px solid white;
    left: 5px;
    color: rgba(200, 200, 200, 0.25);
    text-decoration: none;
}

.navigator:hover>a {
    color: rgba(160, 160, 160, 1);
}

.sided {
    position: relative;
    margin: 0.05% 0.2%;
    border-radius: 0px 15px 0px 15px;
    width: 30%;
    max-height: 480px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    float: left;
    border: 3px solid aliceblue;
    right: -4%;
}

.sided>* {
    color: darkblue;
    margin: 12px;
}

.sided>h1 {
    margin: 10px;
    font-size: 225%
}

.headon {
    position: relative;
    display: block;
    max-height: 8%;
    text-align: center;
    border-radius: 50px;
}

.headbelt {
    position: relative;
    display: inline-block;
    background-color: blue;
    border: 5px solid blue;
    width: 360px;
    max-height: 25px;
    border-radius: 3px 0px 3px 0px;
    top: -25px;
}

.headon>* {
    text-decoration: none;
    font-size: 450%;
}

.citadel {
    display: block;
    color: darkblue;
    border-radius: 15px 5px 15px 5px;
    max-height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content_R {
    display: inline;
    max-width: 275px;
    max-height: 275px;
    overflow: hidden;
    float: right;
}

#content_L {
    display: inline;
    max-width: 275px;
    max-height: 275px;
    overflow: hidden;
    float: left;
}

.rounded {
    border-radius: 15px;
}

.checker {
    border: 3px solid black;
}

#box {
    width: 450px;
    height: 450px;
    border: 3px solid aqua;
    background-color: blue;
}

.citadel>h2 {
    text-align: center;
}

.citadel>p {
    margin: 5px;
}

.f_mid {
    text-align: center;
}

.sticky {
    line-height: 50px;
    color: darkblue;
}

.sidebar {
    border: 3px solid #aaaaff;
    background-color: #aaaaff;
    max-height: 10px;
    width: 36%;
    margin: 0.05% 31.5%;
}


.bar {
    width: 200px;
    border: 4px solid black;
    border-radius: 4px;
}

.bar>* {
    margin: 0px;
    position: relative;
    border: 4px;
    height: 12px;
    background: blue;
}

.barrage_0 {
    width: 170px;
}

.barrage_1 {
    width: 150px;
}

.barrage_2 {
    width: 140px;
}

.barrage_3 {
    width: 30px;
}

:root {
    --color-white: #fff;
    --color-Stickyblue: #35f;
    --color-Stickyyellow: #fe3;
    --color-Starpurple: #d0d;
    --color-Starcyan: #0dd;
    --color-Mirrorgray: #aaa;
    --color-Mirrorange: #fb7;

    --font-gigantic: 72px;
    --font-big: 36px;
    --font-mediocre: 24px;
    --font-small: 12px;
    --font-tiny: 6px;

    --weight-bold: 700;
    --weight-semibold: 600;
    --weight-mediocre: 400;
    --weight-antibold: 100;
}

* {
    box-sizing: border-box;
}

h3 {
    font-size: font-1;
}