:root {
    --color-white: #fff;
    --color-Stickyblue: #35f;
    --color-Stickyyellow: #fe3;
    --color-Starpurple: #d0d;
    --color-Starcyan: #0dd;
    --color-Mirrorgray: #aaa;
    --color-Mirrorange: #fb7;
}